@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoMan</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body class="bg-alternate">

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-sunny-morning border-bottom box-shadow mb-3">
            <div class="container">



                <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">LoMan</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
                        </li>

                        <li>
                            <div class="dropdown">
                                <a class="nav-link text-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    Add New loan
                                </a>
                                <div class="dropdown-menu bg-sunny-morning" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Loans" asp-action="Create">Monthly Loan</a>
                                    <a class="dropdown-item" asp-controller="Loans" asp-action="CreateWeekly">Weekly Loan</a>

                                </div>
                            </div>
                        </li>


                        <li>
                            <div class="dropdown">
                                <a class="nav-link text-dark dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Lists
                                </a>
                                <div class="dropdown-menu bg-sunny-morning" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" asp-controller="Loans" asp-action="Pending">Pending Loans</a>
                                    <a class="dropdown-item" asp-controller="Recoveries" asp-action="Index">Recoveries</a>
                                    <a class="dropdown-item" asp-controller="Loans" asp-action="Index">All Loans</a>

                                </div>
                            </div>

                        </li>

                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 text-white">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
