@model LoMan.Models.Loan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Asset" class="control-label"></label>
                <input asp-for="Asset" class="form-control" />
                <span asp-validation-for="Asset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Principle" class="control-label"></label>
                <input asp-for="Principle" class="form-control" />
                <span asp-validation-for="Principle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interest" class="control-label"></label>
                <input asp-for="Interest" class="form-control" />
                <span asp-validation-for="Interest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idate" class="control-label"></label>
                <input asp-for="Idate" class="form-control" />
                <span asp-validation-for="Idate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rdate" class="control-label"></label>
                <input asp-for="Rdate" class="form-control" />
                <span asp-validation-for="Rdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penalty" class="control-label"></label>
                <input asp-for="Penalty" class="form-control" />
                <span asp-validation-for="Penalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Times" class="control-label"></label>
                <input asp-for="Times" class="form-control" />
                <span asp-validation-for="Times" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
