@model LoMan.ViewModels.LoanVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Loan</h1>

<h4>Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="loan.Id" />
            <input type="hidden" asp-for="PreviousUrl" />
            <div class="form-group">
                <label asp-for="loan.Name" class="control-label"></label>
                <input asp-for="loan.Name" class="form-control" />
                <span asp-validation-for="loan.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Address" class="control-label"></label>
                <input asp-for="loan.Address" class="form-control" />
                <span asp-validation-for="loan.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Phone" class="control-label"></label>
                <input asp-for="loan.Phone" class="form-control" />
                <span asp-validation-for="loan.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Asset" class="control-label"></label>
                <input asp-for="loan.Asset" class="form-control" />
                <span asp-validation-for="loan.Asset" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Principle" class="control-label"></label>
                <input asp-for="loan.Principle" class="form-control" />
                <span asp-validation-for="loan.Principle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Interest" class="control-label"></label>
                <input asp-for="loan.Interest" class="form-control" />
                <span asp-validation-for="loan.Interest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Rate" class="control-label"></label>
                <input asp-for="loan.Rate" class="form-control" />
                <span asp-validation-for="loan.Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Amount" class="control-label"></label>
                <input asp-for="loan.Amount" class="form-control" />
                <span asp-validation-for="loan.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Idate" class="control-label"></label>
                <input asp-for="loan.Idate" class="form-control" />
                <span asp-validation-for="loan.Idate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Rdate" class="control-label"></label>
                <input asp-for="loan.Rdate" class="form-control" />
                <span asp-validation-for="loan.Rdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Penalty" class="control-label"></label>
                <input asp-for="loan.Penalty" class="form-control" />
                <span asp-validation-for="loan.Penalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Times" class="control-label"></label>
                <input asp-for="loan.Times" class="form-control" />
                <span asp-validation-for="loan.Times" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Period" class="control-label"></label>
                <input asp-for="loan.Period" class="form-control" />
                <span asp-validation-for="loan.Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="loan.Status" class="control-label"></label>
                <input asp-for="loan.Status" class="form-control" />
                <span asp-validation-for="loan.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
